---
import Layout from "@layouts/Layout.astro";
import FloatingTriangles from "@components/FloatingTriangles.astro";
import Header from "@components/Header.astro";
import Projects from "@components/Projects.astro";
import Red from "@components/Red.astro";
import Bio from "@components/Bio.astro";
import Footer from "@components/Footer.astro";
import Hero from "@components/Hero.astro";
import Technology from "@components/Technology.astro";
---

<Layout title="Francisco Castillo - Portfolio">
  <FloatingTriangles />
  <Header />
  <main class="container mx-auto px-6">
    <Hero />
    <Bio />
    <Projects />
    <Technology/>
    <Red />
  </main>
  <Footer />
</Layout>
