---
import SocialLinks from "./SocialLinks.astro";
---

<footer class="py-8 text-center">
  <SocialLinks />
  <p class="mt-4">
    &copy; {new Date().getFullYear()} Francisco Castillo. All rights reserved.
  </p>
</footer>
