---
import SocialLinks from "./SocialLinks.astro";

---
<section id="hero" class="min-h-screen flex flex-col items-center justify-center text-center">
  <img
    src="/logo.svg"
    alt="Francisco Castillo Logo"
    class="w-96 h-96 mb-8"
  />
  <SocialLinks />
</section>