---
const socialLinks = [
  { platform: 'instagram', url: 'https://www.instagram.com/juanito_rex01/', icon: 'ri:instagram-line' },
  { platform: 'github', url: 'https://github.com/JuanCE7', icon: 'ri:github-line' },
  { platform: 'youtube', url: 'https://www.youtube.com/@juanfranciscocastilloestre8389', icon: 'ri:youtube-line' },
  { platform: 'facebook', url: 'https://www.facebook.com/profile.php?id=100005613190882', icon: 'ri:facebook-line' },
  { platform: 'linkedin', url: 'https://www.linkedin.com/in/juan-castillo-181637277/', icon: 'ri:linkedin-line' },
];
---

<div class="flex gap-4 justify-center">
  {socialLinks.map(({ platform, url, icon }) => (
    <a
      href={url}
      class="text-white hover:text-primary-500 transition-colors transition-transform hover:scale-150"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="sr-only">{platform}</span>
      <iconify-icon icon={icon} width="24" height="24"></iconify-icon>
    </a>
  ))}
</div>

<script>
  import 'https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js';
</script>