---
import TechnologyCard from "./TechnologyCard.astro";
const technologies = [
  {
    name: "JavaScript",
    icon: "logos:javascript",
    level: "Avanzado",
  },
  {
    name: "TypeScript",
    icon: "logos:typescript-icon",
    level: "Avanzado",
  },
  {
    name: "HTML",
    icon: "logos:html-5",
    level: "Intermedio",
  },
  {
    name: "CSS",
    icon: "logos:css-3",
    level: "Intermedio",
  },
  {
    name: "Node.js",
    icon: "logos:nodejs",
    level: "Intermedio",
  },
  {
    name: "React",
    icon: "logos:react",
    level: "Intermedio",
  },
  {
    name: "Next.js",
    icon: "logos:nextjs-icon",
    level: "Intermedio",
  },
  {
    name: "Express.js",
    icon: "logos:express",
    level: "Intermedio",
  },
  {
    name: "Nest.js",
    icon: "logos:nestjs",
    level: "Intermedio",
  },
  {
    name: "Astro",
    icon: "logos:astro-icon",
    level: "Intermedio",
  },
  {
    name: ".NET",
    icon: "logos:dotnet",
    level: "Básico",
  },
  {
    name: "Angular",
    icon: "logos:angular-icon",
    level: "Intermedio",
  },
  {
    name: "Docker",
    icon: "logos:docker-icon",
    level: "Intermedio",
  },
  {
    name: "MongoDB",
    icon: "logos:mongodb-icon",
    level: "Intermedio",
  },
  {
    name: "PostgreSQL",
    icon: "logos:postgresql",
    level: "Intermedio",
  },
  {
    name: "Java",
    icon: "logos:java",
    level: "Intermedio",
  },
  {
    name: "Git",
    icon: "logos:git-icon",
    level: "Avanzado",
  },
  {
    name: "Tailwind",
    icon: "logos:tailwindcss-icon",
    level: "Intermedio",
  },
];
---

<section id="technology" class="py-20">
  <h2 class="text-3xl font-bold text-center mb-12">TECNOLOGÍAS</h2>
  <div
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-6"
  >
    {
      technologies.map((technology, index) => (
        <TechnologyCard
          name={technology.name}
          icon={technology.icon}
          level={technology.level}
          index={index}
        />
      ))
    }
  </div>
</section>
