---
import '@fontsource-variable/outfit';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Francisco Castillo - Personal Portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>{title}</title>
  </head>
  <body class="font-outfit bg-gradient-to-b from-gradient-start to-gradient-end min-h-screen text-white">
    <slot />
    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script is:inline>
      AOS.init({
        duration: 1000,
        once: true,
        offset: 100,
      });
    </script>
  </body>
</html>